# forge-starter:files-welcome:start
from mvc.controllers.files_welcome_controller import FilesWelcomeController

with router.group("", public=True) as public:
    public.add("GET", "/files-welcome", FilesWelcomeController.index, name="files_welcome_index")
    public.add("GET", "/files-welcome/inspect", FilesWelcomeController.inspect, name="files_welcome_inspect")
# forge-starter:files-welcome:end
