# forge-starter:relations:start
from mvc.controllers.relations_controller import RelationsController

with router.group("", public=True) as pub:
    pub.add("GET", "/relations", RelationsController.index, name="relations_index")
# forge-starter:relations:end
