# forge-starter:pagination:start
from mvc.controllers.pagination_controller import PaginationController

with router.group("", public=True) as pub:
    pub.add("GET", "/pagination", PaginationController.index, name="pagination_index")
# forge-starter:pagination:end
