[Unit]
Description=Forge Application
After=network.target mariadb.service

[Service]
Type=simple
# Adapter User à l'utilisateur système qui exécutera l'application
User=www-data
WorkingDirectory=/home/roger/Projets/Forge
ExecStart=/home/roger/Projets/Forge/.venv/bin/python /home/roger/Projets/Forge/app.py --env prod
Restart=always
RestartSec=5
EnvironmentFile=/home/roger/Projets/Forge/env/prod

[Install]
WantedBy=multi-user.target
