# forge-starter:premier-crud:start
from mvc.controllers.messages_controller import MessagesController

with router.group("", public=True) as pub:
    pub.add("GET",  "/messages",             MessagesController.index,   name="messages_index")
    pub.add("POST", "/messages",             MessagesController.create,  name="messages_create")
    pub.add("GET",  "/messages/{id}/edit",   MessagesController.edit,    name="messages_edit")
    pub.add("POST", "/messages/{id}",        MessagesController.update,  name="messages_update")
    pub.add("POST", "/messages/{id}/delete", MessagesController.destroy, name="messages_destroy")
# forge-starter:premier-crud:end
