# forge-starter:layout-template:start
from mvc.controllers.layout_template_controller import LayoutTemplateController

with router.group("", public=True) as pub:
    pub.add("GET", "/layout-template", LayoutTemplateController.index, name="layout_template_index")
# forge-starter:layout-template:end
