# forge-starter:workflow-available:start
from mvc.controllers.workflow_available_controller import WorkflowAvailableController

with router.group("", public=True) as public:
    public.add("GET", "/workflow-available", WorkflowAvailableController.index, name="workflow_available_index")
# forge-starter:workflow-available:end
