# forge-starter:image-variants:start
from mvc.controllers.image_variants_controller import ImageVariantsController

with router.group("", public=True) as pub:
    pub.add("GET", "/image-variants", ImageVariantsController.index, name="image_variants_index")
    pub.add("GET", "/image-variants/inspect", ImageVariantsController.inspect, name="image_variants_inspect")
# forge-starter:image-variants:end
