# forge-starter:first-html-view:start
from mvc.controllers.first_html_view_controller import FirstHtmlViewController

with router.group("", public=True) as pub:
    pub.add("GET", "/first-html-view", FirstHtmlViewController.index, name="first_html_view_index")
# forge-starter:first-html-view:end
