# forge-starter:mail-doctor:start
from mvc.controllers.mail_doctor_controller import MailDoctorController

with router.group("", public=True) as public:
    public.add("GET", "/mail-doctor", MailDoctorController.index, name="mail_doctor_index")
# forge-starter:mail-doctor:end
