# forge-starter:mfa-challenge:start
from mvc.controllers.mfa_challenge_controller import MfaChallengeController

with router.group("", public=True) as pub:
    pub.add("GET", "/mfa-challenge", MfaChallengeController.index, name="mfa_challenge_index")
    pub.add("POST", "/mfa-challenge", MfaChallengeController.verify, name="mfa_challenge_verify")
# forge-starter:mfa-challenge:end
