# forge-starter:audio-welcome:start
from mvc.controllers.audio_welcome_controller import AudioWelcomeController

with router.group("", public=True) as public:
    public.add("GET", "/audio-welcome", AudioWelcomeController.index, name="audio_welcome_index")
    public.add("GET", "/audio-welcome/inspect", AudioWelcomeController.inspect, name="audio_welcome_inspect")
# forge-starter:audio-welcome:end
