# forge-starter:rbac-check:start
from mvc.controllers.rbac_check_controller import RbacCheckController

with router.group("", public=True) as pub:
    pub.add("GET", "/rbac-check", RbacCheckController.index, name="rbac_check_index")
# forge-starter:rbac-check:end
