# forge-starter:iot-welcome:start
from mvc.controllers.iot_welcome_controller import IotWelcomeController

with router.group("", public=True) as public:
    public.add("GET", "/iot-welcome", IotWelcomeController.index, name="iot_welcome_index")
    public.add("GET", "/iot-welcome/inspect", IotWelcomeController.inspect, name="iot_welcome_inspect")
# forge-starter:iot-welcome:end
